@font-face {
  font-family: 'iconfont';  /* Project id 2736568 */
  src: url('//at.alicdn.com/t/font_2736568_4gzfya308j2.woff2?t=1632275021570') format('woff2'),
  url('//at.alicdn.com/t/font_2736568_4gzfya308j2.woff?t=1632275021570') format('woff'),
  url('//at.alicdn.com/t/font_2736568_4gzfya308j2.ttf?t=1632275021570') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
