@font-face {
  font-family: 'iconfont';  /* Project id 2736568 */
  src: url('//at.alicdn.com/t/font_2736568_27mjqsi3izbh.woff2?t=1628668086356') format('woff2'),
  url('//at.alicdn.com/t/font_2736568_27mjqsi3izbh.woff?t=1628668086356') format('woff'),
  url('//at.alicdn.com/t/font_2736568_27mjqsi3izbh.ttf?t=1628668086356') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
